

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(107, 104, 104)

}


body {
  font: 24px;
  max-width: 100vw;
  color:aliceblue;
  /* background: url('../assets/media/supernovaexplosion0.webp');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: -3; */
  
}

/* body:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background:radial-gradient(circle at center,#000000 20%,#ffffff 100% );
  z-index: -1;
  opacity: 0.8;
  mix-blend-mode:multiply;
} */


@media (width < 780px) {
  body {
    font: 24px;
    height: auto;
    max-width: 100vw;
    color:aliceblue;
    /* background: url('../assets/media/supernovaexplosion0.webp');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: -3; */
    
  }
}